* {
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image:url(bg.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
.container {
    background-color:rgb(255, 245, 242);
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 400px;
    max-width: 90%;
    overflow: hidden;
}
.header {
    background-color: #f7f7f7;
    border-bottom: 1px solid #f0f0f0;
    padding:20px 40px;
}   
.header h2 {
    margin: 0;
}
.form {
    padding :30px 40px; 
}
.form-control {
    padding-bottom: 20px;
    margin-bottom: 10px;
    position: relative;
}
.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}
.form-control input{
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    display: block;
    font-size: 12px;
    padding: 10px;
    width: 100%;
}
.form-control.success input{
    border-color:#2ecc71;
}
.form-control.error input{
    border-color:#e74c3c;
}
.form-control i {
    position: absolute;
    right: 10px;
    top:35px;
    visibility: hidden;
}
.form-control.success i.fa-check-circle {
    visibility: visible;
    color:#2ecc71;
}
.form-control.error i.fa-exclamation-circle {
    visibility: visible;
    color:#e74c3c;
}
.form-control small {
    position: absolute;
    left: 0;
    visibility: hidden;
}
.form-control.error small {
    visibility: visible;
    color:#e74c3c;
}
.form button {
    background-color: #50C878;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}
.modal-container{
    border-radius: 20px;
    border-color: #50C878;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
.modal-container.show{
    pointer-events: auto;
    opacity: 1;
}
.is_blurred{
    filter: blur(1px);
    -webkit-filter: blur(1px);
}
.modal{
    background-color: rgb(200, 233, 197);
    border-radius: 20px;
    border-color: #50C878;
    width: 300px;
    height:150px;
    max-width: 100%;
    text-align: center;
}
.modal-container button{
    background-color: #50C878;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    padding: 10px;
}
 
